@model EpiMeetup2018.CustomViews.Models.Pages.HomePage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</body>
</html>
